body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #999AC6;
  --color-secondary: #0B3954; 
  --color-dark: #798071;
  --color-bright: #FF5A5F;
  --color-light: #FFF9EC;
  --color-background: #FCFAFA;
}

h1 {
  font-size: 2.2rem; /* ~44px */
  font-weight: 600; /* Semi-bold for impact */
  line-height: 1.5;
  color: var(--color-primary);
}

h2 {
  font-size: 1.75rem; /* ~28px */
  font-weight: 500; /* Slightly lighter than h1 */
  line-height: 1.5;
  color: var(--color-dark);
}

h3 {
  font-size: 1.5rem; /* ~24px */
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-dark);
}

p {
  font-size: 1rem; /* ~16px */
  font-weight: 400;
  line-height: 1.8; /* Relaxed for readability */
  color: var(--color-dark);

}

/* Responsive Design for smaller screens */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
  }
}
